
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&family=Poppins:wght@300&display=swap');
.menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
    background-color: chocolate;
    height: 50px;
    border-radius: 20px;
}
.tarjeta{
    font-family: 'Fredoka', sans-serif;
    color: black;
}
body{
    background-image: url(sam.jpg);
    color: #fff;
    font-family: 'Poppins', sans-serif;
   
}
